@import "tailwindcss";

@theme {
  --color-sentinel: #008ed6;
  --color-zinc-950: #050505;
}

:root {
  --background: #050505;
  --foreground: #ececec;
}

/* Forzar estilos base */
@layer base {
  html, body {
    background-color: #050505 !important;
    color: #ececec !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    margin: 0;
    padding: 0;
  }
}

/* Utilidades de Sentinel */
.border-technical {
  border: 1px solid #1f1f1f;
}

.text-sentinel {
  color: #008ed6;
}