@import "tailwindcss";

@theme {
  --color-sentinel: #008ed6;
  --color-background: #050505;
  --color-foreground: #ececec;
}

:root {
  --background: #050505;
  --foreground: #ececec;
}

body {
  background-color: #050505;
  color: #ececec;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@layer base {
  body {
    @apply antialiased bg-[#050505] text-[#ececec];
  }
}