@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ececec;
}

@theme {
  --color-sentinel: #008ed6;
}

body {
  background-color: #050505;
  color: #ececec;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}